########################################################################################################################
#
# File: wavesuite.cfg
#
########################################################################################################################
#
# Nokia - Confidential
# Do not use, distribute, or copy without consent of Nokia.
# Copyright (c) 2019, 2021 Nokia. All rights reserved.
#
########################################################################################################################
#
# Description:
#   Configuration file for the WSHA Installer.
#
########################################################################################################################
# The location to map the internal backups directory
# This should map to an external filesystem to ensure backups are accessible outside of the host OS
#
# By default, the volume will be mapped to: '/opt/wavesuite/docker_data/volumes'
BACKUP_AND_RESTORE_VOLUME_PATH=

# If 'CA_CERTIFICATES_PATH' is specified, then the installer will import any CA certificates located
# at the specified absolute path into the WaveSuite trust store. The root base names
# of the CA files will be used as certificate aliases in the trust store. Therefore, the CA certificate
# root base names must be unique.
#
# If this option is not specified, then the installer will skip the task that import customer CA certificates.
#
# By default, no customer CA certificates to import.
CA_CERTIFICATES_PATH=

# The installer will bind the database's port (3306) to the IP address provided. Defaults to '127.0.0.1'.
DATABASE_INTERFACE="127.0.0.1"

# If DEFAULT_IP is specified, then the given IP address will be used to bind the reverse proxy's port on the host.
# This means that the system will be externally available on requests to the designated IP address. The installer will
# also use the default IP address along with the wavesuite portal port as the default external access address.
#
# The default IP address must only be an IPv4 address -- no port or scheme should be included.
#
# Example:
# --------
#   DEFAULT_IP="192.168.0.1"
#
# If unset, then the IP address from the network interface of the default route on the host running the installation
# will be used.
DEFAULT_IP=

# Defines if the Swagger generated API documentation can be accessed from the WSHA UI and as an API endpoint.
#
#  Examples:
#  --------
#    ENABLE_SWAGGER_DOCS="true"
#
#    ENABLE_SWAGGER_DOCS="false"
#
# This parameter's default value is false if omitted or set wrong.
ENABLE_SWAGGER_DOCS="true"

# If the system is expected to be reachable through an external address not configured by the system (i.e., via a proxy
# that is sitting in front of the WaveSuite system), then the following property must be set. The external access
# address is expected to be either a FQDN, or IPv4:PORT pair.
#
# The external access address will be configured as the Common Name on the installer-generated SSL certificate. All
# authentication requests will be redirected via the configured external access address.
#
# The external access address is assumed to be configured with HTTPS. The address configured should not be prepended
# with 'https://'.
#
#  Examples:
#  --------
#    EXTERNAL_ACCESS_ADDRESS="some-fqdn.domain.com"
#
#    EXTERNAL_ACCESS_ADDRESS="173.12.5.1"
#
#    EXTERNAL_ACCESS_ADDRESS="192.168.0.1:8443"
#
# By default, the installer will use the default IP address along with the wavesuite portal port.
EXTERNAL_ACCESS_ADDRESS="172.16.0.9:8443"

# Defines the installation status of the Health & Analytics tools which is designed for debugging and simulating.
# Health & Analytics tools is an optional container and can be omitted if not necessary.
# Health & Analytics tools container listens port 161 and 9339 by default.
#
#  Examples:
#  --------
#    INCLUDE_WSHA_TOOLS="true"
#
#    INCLUDE_WSHA_TOOLS="false"
#
# This parameter's default value is false if omitted or set wrong.
INCLUDE_WSHA_TOOLS="true"

# If SFTP_INTERFACE is specified, then the given IP address will be used to expose the sFTP port associated to the data
# acquisition adapter to this specific interface.  If this variable is left unset then the sFTP port will not be exposed
# to any interface and the sFTP service will not be enabled.
SFTP_INTERFACE="10.1.1.60"

# If SFTP_EXTERNAL_ACCESS_ADDRESS is specified, then the given IP address will be used to request that incoming sFTP
# requests from the Network Element nodes be directed to this address.  This is intended to be used in environments
# where this host is behind a NAT and its public IP address is different than the local SFTP_INTERFACE address used to
# bind the data acquisition container to the local interface.
#SFTP_EXTERNAL_ACCESS_ADDRESS="10.1.1.60"

# This parameter defines retention period for time series data. It should only be modified after fully reviewing the
# WSHA Installation and System Level Administration Guide. The value range is between 45 and 360. All given values for
# the retention period is in days. This parameter is mandatory.
#
#  Examples:
#  --------
#    TIME_SERIES_DB_RETENTION_PERIOD="90"
#
#    TIME_SERIES_DB_RETENTION_PERIOD="300"
#
# This parameter has no default value and installation will not continue if omitted.
TIME_SERIES_DB_RETENTION_PERIOD="90"
